#Order allow,deny
#Deny from All
#
# Test Fehlerseite
ErrorDocument 404 http://www.dubele.de/404/error.htm

RewriteEngine on

# so will ich es. OK :)
RewriteRule seminar_([0-9]+)/(.*)\.htm    /index.php?seite=seminar&id=$1
RewriteRule vita.htm								/index.php?seite=vita
RewriteRule home.htm								/index.php?seite=home
RewriteRule seminarangebot.htm				/index.php?seite=liste
RewriteRule entwicklungsfragen.htm			/index.php?seite=entwicklungsfragen
RewriteRule mein_angebot.htm					/index.php?seite=angebote
RewriteRule anfahrt.htm							/index.php?seite=anfahrt
RewriteRule kontakt.htm							/index.php?seite=kontakt
RewriteRule impressum.htm						/index.php?seite=impressum
RewriteRule anmeldung/termin_([0-9]+)\.htm  /index.php?seite=anmeldung&&termin=$1

